<div class="portlet-bar">
  <% portlet :search do %>
    <form><input /><input type="submit" value="Search" /></form>
  <% end %>
  
  <% portlet :info, "Information" do %>
    <!--<div class="term-course">
      <p><strong>CHEM 120</strong></p>
      <p>Physical and Chemical Properties of Matter</p>
    </div>
    
    <div class="term-course">
      <p><strong>CHEM 120</strong></p>
      <p>Physical and Chemical Properties of Matter</p>
    </div>
    
    <div class="term-course">
      <p><strong>CHEM 120</strong></p>
      <p>Physical and Chemical Properties of Matter</p>
    </div>-->
    <p>No course selected.</p>
  <% end %>
  
  <% portlet :endpoints do %>
    <p>No plan selected.</p>
  <% end %>
  
  <% portlet :conflicts do %>
    <p>No plan selected.</p>
  <% end %>
</div>