<div class="portlet-bar">
  <% portlet :search do %>
    <% form_tag search_courses_path, :method => :get do -%>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :name => nil %>
      <input type="button" class="search_clear" value="Clear" />
    <% end %>
    
    <div id="search_results"></div>
  <% end %>
  
  <% portlet :info, "Information" do %>
    <p>No course selected.</p>
  <% end %>
  
  <% portlet :endpoints do %>
    <p>No plan selected.</p>
  <% end %>
  
  <% portlet :conflicts do %>
    <p>No plan selected.</p>
  <% end %>
  
  <% portlet :actions do %>
    <div class="action action-trash">
      <div class="ui-icon ui-icon-trash"></div> Trash
    </div>
    
    <div class="action action-override">
      <div class="ui-icon ui-icon-check"></div> Override
    </div>
  <% end %>
</div>