<div class="search">
	<form>Search:<br/><input value="Linear Algebra"/></form>
	<div class="course"><strong>MATH 114</strong> Linear Algebra for Science</div>
	<div class="course"><strong>MATH 136</strong> Linear Algebra for Honours Mathematics</div>
</div>

<div class="courses">
  <div class="fall term">
  	<h3>Fall 2009</h3>
  	<div class="course"><strong>MATH 114</strong> Linear Algebra for Science</div>
  	<div class="course"><strong>MATH 127</strong> Calculus 1 for the Sciences</div>
  	<div class="course"><strong>EARTH 121</strong> Introductory Earth Sciences</div>
  	<div class="course"><strong>CHEM 120</strong> Physical and Chemical Properties of Matter</div>
  	<div class="course"><strong>PHYS 121</strong> Mechanics and Waves 1</div>
  	<div class="course"><strong>PHYS 121L</strong> Mechanics and Waves 1 Laboratory</div>
  	<div class="course"><strong>CHEM 120L</strong> Chemical Reaction Laboratory 1</div>
  	<div class="course"><strong>EARTH 121L</strong> Introductory Earth Sciences Laboratory</div>
  </div>

  <div class="winter term">
  	<h3>Winter 2010</h3>
  	<div class="course"><strong>CS 135</strong> Designing Functional Programs</div>
  	<div class="course"><strong>MATH 128</strong> Calculus 2 for the Sciences</div>
  	<div class="course"><strong>EARTH 122</strong> Introductory Environmental Sciences</div>
  	<div class="course"><strong>CHEM 123</strong> Chemical Reactions, Equilibria and Kinetics</div>
  	<div class="course"><strong>PHYS 122</strong> Mechanics and Waves 2</div>
  	<div class="course"><strong>PHYS 122L</strong> Mechanics and Waves 2 Laboratory</div>
  	<div class="course"><strong>CHEM 123L</strong> Chemical Reaction Laboratory 2</div>
  	<div class="course"><strong>EARTH 122L</strong> Introductory Environmental Sciences Laboratory</div>
  </div>

  <div class="spring term">
  	<h3>Spring 2010</h3>
  </div>

  <div class="fall term">
  	<h3>Fall 2010</h3>
  	<div class="course"><strong>CS 136</strong> Elementary Algorithm Design &amp; Data Abstraction</div>
  	<div class="course"><strong>MATH 237</strong> Calculus 3 for Honours Mathematics</div>
  	<div class="course"><strong>AMATH 250</strong> Introduction to Differential Equations</div>
  	<div class="course"><strong>PHYS 234</strong> Quantum Physics 1</div>
  	<div class="course"><strong>PHYS 241</strong> Electricity and Magnetism</div>
  	<div class="course"><strong>PHYS 260A</strong> Intermediate Physics Laboratory 1</div>
  </div>

  <div class="winter term">
  	<h3>Winter 2011</h3>
  	<div class="course"><strong>CS 251</strong> Computer Organization and Design</div>
  </div>

  <div class="spring term">
  	<h3>Spring 2011</h3>
  	<div class="course"><strong>CS 246</strong> Software Abstraction and Specification</div>
  	<div class="course"><strong>STAT 230</strong> Probability</div>
  	<div class="course"><strong>PHYS 258</strong> Thermal Physics</div>
  	<div class="course"><strong>PHYS 263</strong> Classical Mechanics and Special Relativity</div>
  	<div class="course"><strong>PHYS 256</strong> Geometrical and Physical Optics</div>
  	<div class="course"><strong>PHYS 260B</strong> Intermediate Physics Laboratory 2</div>
  </div>

  <div class="fall term">
  	<h3>Fall 2011</h3>
  </div>

  <div class="winter term">
  	<h3>Winter 2012</h3>
  </div>

  <div class="spring term">
  	<h3>Spring 2012</h3>
  	<div class="course"><strong>CS 241</strong> Foundations of Sequential Programs</div>
  	<div class="course"><strong>CS 245</strong> Logic and Computation</div>
  	<div class="course"><strong>PHYS 334</strong> Quantum Physics 2</div>
  	<div class="course"><strong>PHYS 363</strong> Intermediate Classical Mechanics</div>
  	<div class="course"><strong>PHYS 364</strong> Mathematical Physics 1</div>
  </div>

  <div class="fall term">
  	<h3>Fall 2012</h3>
  </div>

  <div class="winter term">
  	<h3>Winter 2013</h3>
  	<div class="course"><strong>MATH 239</strong> Introduction to Combinatorics</div>
  	<div class="course"><strong>CS 240</strong> Data Structures and Data Management</div>
  	<div class="course"><strong>PHYS 359</strong> Statistical Mechanics</div>
  	<div class="course"><strong>PHYS 365</strong> Mathematical Physics 2</div>
  </div>

  <div class="spring term">
  	<h3>Spring 2013</h3>
  </div>

  <div class="fall term">
  	<h3>Fall 2013</h3>
  	<div class="course"><strong>PHYS 441A</strong> Electromagnetic Theory</div>
  	<div class="course"><strong>PHYS 434</strong> Quantum Physics 3</div>
  	<div class="course"><strong>PHYS 454</strong> Quantum Theory 2</div>
  	<div class="course"><strong>CS 341</strong> Algorithms</div>
  	<div class="course"><strong>CS 350</strong> Operating Systems</div>
  </div>

  <div class="winter term">
  	<h3>Winter 2014</h3>
  	<div class="course"><strong>PHYS 441B</strong> Electromagnetic Theory</div>
  	<div class="course"><strong>PHYS 467</strong> Introduction to Quantum Information Processing</div>
  	<div class="course"><strong>PHYS 444</strong> Modern Particle Physics</div>
  	<div class="course"><strong>CO 487</strong> Applied Cryptography</div>
  	<div class="course"><strong>PHYS 335</strong> Condensed Matter Physics</div>
  </div>

  <div class="spring term">
  	<h3>Spring 2014</h3>
  	<div class="course"><strong>STAT 231</strong> Statistics</div>
  	<div class="course"><strong>CS 454</strong> Distributed Systems</div>
  	<div class="course"><strong>CS 486</strong> Introduction to Artificial Intelligence</div>
  	<div class="course"><strong>CS 456</strong> Computer Networks</div>
  	<div class="course"><strong>CS 370</strong> Numerical Computation</div>
  </div>
</div>

<p style="clear:both"></p>