.content
  %h3 Catalogues
  %table
    %thead
      %tr
        %th Catalogue
        - if can? :manage, @catalogue
          %th Actions
    %tbody
      - for catalogue in @catalogues
        %tr
          %td= link_to catalogue.name, catalogue
          - if can? :manage, @catalogue
            %td
              %p.links<
                = link_to "Edit", [:edit, catalogue]
                = link_to "Delete", catalogue, :method => :delete, :confirm => "Are you sure?"

- if can? :manage, Catalogue
  %p.links
    = link_to "New Catalogue", new_catalogue_path