<% form_for @plan do |f| %>
  <p>
    <strong>Name:</strong>
    <%= f.text_field :name %>
  </p>
  
  <p><strong>Terms:</strong></p>
  <%= render :partial => "terms/form", :collection => @plan.terms, :as => :term %>
  
  <%= submit_tag(@plan.new_record? ? "Create Plan" : "Update Plan") %>
<% end %>