Internal Conflicts
<ul>
  <% if @conflicts.empty? %>
    <li>None</li>
  <% else %>
    <% for conflict in @conflicts %>
      <li><%=h conflict.conflict_description %></li>
    <% end %>
  <% end %>
</ul>